

<div class="container text-center">
  <h1>Liste de produits</h1>
</div>

<div class="container">

  <div class="text-center">                                   
      
   

      <button type="button"
              class="btn btn-dark m-2"
              (click)="onClickSwitchAllProduitEtat('en stock')">
        en stock  
      </button>

      <button type="button"
      class="btn btn-dark m-2"
      (click)="onClickSwitchAllProduitEtat('pas en stock')">
       Pas en stock  
      </button>

  </div>

  <app-table></app-table>
</div>
  
